.headerTop {
  height: 30px;
  font-size: 13px;
}
.headerTop a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.headerTop .dropdown-toggle {
  font-size: 13px;
}

.headerTop .seperator {
  color: #ccc;
}
.headerMid {
  height: 105px;
}
.logo {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-decoration: none solid rgb(101, 101, 101);
  word-spacing: 0px;
}
.h-100p {
  height: 100%;
}
.headerMid .searchBar .input-group {
  border: 1px solid #cccccc;
  border-radius: 50px;
}
.headerMid .searchBar .form-control {
  border: none;
  width: 275px;
}
.headerMid .seperator {
  color: #ccc;
}
.headerMid .input-group button {
  border-radius: 50px !important;
}
.iconSet {
  border: 2px solid #ffc107;
  border-radius: 50px;
}
.headerMid .cart a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
.iconSet:hover {
  border: 2px solid #c2370d;
}

.w-100p {
  width: 100%;
}

.headerBottom .nav-item a {
  color: #fff;
  margin-top: 16px;
}

.headerBottom .nav-item {
  position: absolute;
  background-color: #000;
  padding-left: 40px;
  padding-right: 40px;
  top: -10px;
  bottom: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.headerBottom .navbar-nav {
  margin-left: 9rem;
}
